@model OnlineHealthcareManagementMVC.Models.SigInModel
@{
    ViewBag.Title = "SignIn";
}
<h2>SignIn</h2>
@using (Html.BeginForm("SignIn", "Patient", FormMethod.Post))
{
    <table>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.UserName)
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.UserName)
                @Html.ValidationMessageFor(Model => Model.UserName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.Password)
            </td>
            <td>
                @Html.ValidationMessageFor(Model => Model.Password)
                @Html.TextBoxFor(Model => Model.Password)
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" value="Login"/>
            </td>
        </tr>
    </table>
}
