@model OnlineHealthcareManagementMVC.Models.SigInModel
@{
    ViewBag.Title = "SignIn";
}
 <h2>SignIn</h2>
@using (Html.BeginForm("SignIn", "Patient", FormMethod.Post))
{
    <table class="table">
        <tr>
            <td>
                @Html.LabelFor(Model => Model.UserName)
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.UserName)
                @Html.ValidationMessageFor(Model => Model.UserName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.Password)
            </td>
            <td>
                @Html.ValidationMessageFor(Model => Model.Password)
                @Html.PasswordFor(Model => Model.Password)
            </td>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.Role)
            </td>
            <td>
                @Html.RadioButtonFor(Model => Model.Role, "Doctor")Doctor
                @Html.RadioButtonFor(Model => Model.Role, "User")User
                @Html.RadioButtonFor(Model=>Model.Role,"Admin")Admin;
            </td>
        </tr>

        </tr>
        <tr>
            <td>
                <input type="submit" value="Login" class="btn"/>
            </td>
        </tr>
    </table>
}
